// Import page-specific CSS files here.
@import "home";

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.search {
  height: 80;
  position: sticky;
  top: 80
}

.card {
  box-shadow: 2px 2px 3px lightgray;
  border: 1px solid lightgrey;
  margin-top: 10px;
  width: 290px;
  height: 365px;
}

.category {
  padding-top: 8px;
  // margin-top: 3px;
  width: 255px;
  height: 20px;
}

.card-title {
  width: 255px;
  height: 30px;
}
.card-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
