<%= simple_form_for([car, booking]) do |f| %>
  <div>
      <%= f.input :starting_date, as: :date, html5: true %>
  </div>
  <div>
      <%= f.input :ending_date, as: :date, html5: true %>
  </div>
    <br>
    <%= f.submit "Request Booking", class: "btn btn-primary", id: "request"%>
<% end %>
