 <div class="header">
  <h1>E-CAR</h1> <!--insert username -->
  <p>TAKE THE ROAD, DO IT GREENER</p>
</div>

<div class="container mt-4">
  <div class="cards mt-4 mb-4">
    <h2 class="fw-bold">Best rated</h2>
  </div>
  <br><br>
  <div class="cards mt-4 mb-4">
    <h2 class="fw-bold">Popular cars</h2>
  </div>

  <div>
    <h2>Our Statement</h2>
    <br>
    <h5>🌿 Community-Powered Travel:</h5>
    <p>At E-Car, we believe in the power of community. Renting an electric car from a local individual not only provides you with a reliable mode of transportation but also supports eco-conscious neighbors who are contributing to a cleaner planet.</p>
    <h5>⚡ Diverse Fleet, Personalized Experiences:</h5>
    <p>Choose from a diverse fleet of electric cars owned by individuals in your community. Each vehicle has its own story, from compact cars perfect for city adventures to spacious SUVs ideal for family road trips. Your journey becomes a personalized experience, crafted by the unique offerings of our community hosts.</p>
    <br>
    <h5>🤝 Connect with Like-Minded Locals:</h5>
    <p>Renting from individuals means more than just getting a set of wheels; it's an opportunity to connect with like-minded locals. Receive insider tips on the best charging stations, hidden gems in the area, and experience the community spirit firsthand.</p>
    <br>
    <h5>💸 Affordable and Sustainable:</h5>
    <p>Enjoy the perks of electric driving without breaking the bank. Renting from individuals often comes with cost-effective options, making sustainable travel accessible to everyone. It's a win-win for your wallet and the environment.</p>
    <br>
    <h5>🌍 Reduce, Reuse, Rediscover:</h5>
    <p>By choosing to rent from individuals on E-Car, you actively participate in the sharing economy, promoting sustainability through the reuse of existing resources. Rediscover the joy of travel with a conscience, one electric ride at a time.</p>
    <br>
    <h5>🔐 Book Your Electric Adventure:</h5>
    <p>Ready to embark on a one-of-a-kind journey? Explore our platform, connect with local hosts, and book your electric adventure today. Embrace the future of travel while supporting your community.</p>
  </div>
</div>
