 <div class="header">
  <h1>E-CAR</h1> <!--insert username -->
  <p>TAKE THE ROAD, DO IT GREENER</p>
</div>

<div class="container mt-4">
  <div class="cards mt-4 mb-4">
    <h2 class="fw-bold">Best rated</h2>
  </div>
  <br><br>
  <div class="cards mt-4 mb-4">
    <h2 class="fw-bold">Popular cars</h2>
  </div>

  <div>
    <h2>Our Statement</h2>
    <p>At E-Car we believe Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita explicabo laudantium voluptates eos autem ut, ad suscipit. Esse quis minima impedit eaque rerum nisi, assumenda facere maxime optio ex natus.</p>
    <h2>Our values</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis inventore suscipit consequatur dicta consectetur animi, est saepe quos impedit officia iure sed sequi ducimus rerum molestias deleniti, exercitationem et veniam!</p>
  </div>
</div>
