 <div class="header">
  <h1>E-CAR</h1> <!--insert username -->
  <p>TAKE THE ROAD, DO IT GREENER</p>
  <div class="center">
    <h1><%= link_to "Search for a car", cars_path, class: "btn btn-primary rounded-4"%></h1>
  </div>

</div>

<div class="container mt-4">
  <div>
    <h3 class="title">Best rated</h3>
      <div class="home-cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod/images/bmw-i4-2-646bd10fe7fb4.jpg?crop=0.704xw:0.528xh;0.139xw,0.324xh&resize=1200:*)">
          <a href="#">BMW i4 xDrive40</a>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hips.hearstapps.com/hmg-prod/images/db2017au00888-large-1583171843.jpg)">
           <a href="#">Volkswagen e-Golf</a>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.sm360.ca/images/article/groupelacasse/94197//subaru-solterra-header1637204981779.jpg)">
          <a href="#">Subaru Solterra VUS</a>
        </div>
      </div>
  </div>

  <br><br>
  <div>
    <h3 class="title">Popular cars</h3>
      <div class="home-cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.topgear.com/sites/default/files/2022/03/Large-40342-EQB.jpg)">
          <a href="#">Mercedes-Benz EQB</a>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.autoaubaine.com/actualite-automobile/images-automobiles/55811.jpg)">
           <a href="#">Tesla Model Y VUS</a>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://rpmweb.ca/medias/Audi-RS5-2023-6.jpg)">
          <a href="#">Audi A5 Progressiv</a>
        </div>
      </div>
  </div>

  <div>
  </div>
  <br>
  <br>
  <br>
  <div class="statement">
    <h2 class="title">OUR STATEMENT</h2>
    <br>
    <h5>🌿 <strong>Community-Powered Travel:</strong></h5>
    <p>At E-Car, we believe in the power of community. Renting an electric car from a local individual not only provides you with a reliable mode of transportation but also supports eco-conscious neighbors who are contributing to a cleaner planet.</p>
    <h5>⚡ <strong>Diverse Fleet, Personalized Experiences:</strong></h5>
    <p>Choose from a diverse fleet of electric cars owned by individuals in your community. Each vehicle has its own story, from compact cars perfect for city adventures to spacious SUVs ideal for family road trips. Your journey becomes a personalized experience, crafted by the unique offerings of our community hosts.</p>
    <br>
    <h5>🤝 <strong>Connect with Like-Minded Locals:</strong></h5>
    <p>Renting from individuals means more than just getting a set of wheels; it's an opportunity to connect with like-minded locals. Receive insider tips on the best charging stations, hidden gems in the area, and experience the community spirit firsthand.</p>
    <br>
    <h5>💸 <strong>Affordable and Sustainable:</strong></h5>
    <p>Enjoy the perks of electric driving without breaking the bank. Renting from individuals often comes with cost-effective options, making sustainable travel accessible to everyone. It's a win-win for your wallet and the environment.</p>
    <br>
    <h5>🌍 <strong>Reduce, Reuse, Rediscover:</strong></h5>
    <p>By choosing to rent from individuals on E-Car, you actively participate in the sharing economy, promoting sustainability through the reuse of existing resources. Rediscover the joy of travel with a conscience, one electric ride at a time.</p>
    <br>
    <h5>🔐 <strong>Book Your Electric Adventure:</strong></h5>
    <p>Ready to embark on a one-of-a-kind journey? Explore our platform, connect with local hosts, and book your electric adventure today. Embrace the future of travel while supporting your community.</p>
  </div>
</div>
