<%# TO DO : front-end + add info %>

<div class="container">
    <h1>Profile page of <%= current_user.first_name%> <%=current_user.last_name %></h1>
    <br>
    <br>
    <br>
    <h3>Account informations</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>Booking requests</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
