<%# TO DO : front-end + add info %>

<div class="container">
    <h1><%= current_user.first_name%> <%=current_user.last_name %></h1>
    <br>
    <br>
    <br>
    <h2>Booking requests</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
