.cards {
  border: 2px solid red;
  background-color: green;

}

.card-product-owner {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 130px
}

.card-product-owner p {
    font-size: 10px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.flex-container-cars-owner {
    display: flex;
    flex-wrap: wrap;
}
