.request-card-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#status-a {
  color: green
}

#status-r {
  color: red
}

.sign-up-owner {
  background-color: white;
  border: 1px dotted lightgrey;
  padding: 30px;
  border-radius: 5px;
}
