<div class="container">
  <h1>Our cars ready to be rent</h1>
  <br>
  <ul>
  <% @cars.each do |car| %>
    <li><%= car.brand %></li>
    <%= link_to "see details", car_path(car) %>
  <% end %>
  </ul>
</div>
